/emacs.d/elpa/
/emacs.d/var/
/emacs.d/etc/
/emacs.d/.cask/
/vim/plugged/
/vim/cache/
/vim/plug-local/
/vim/defaults.vim
/.bak
/mpd/state
/mpd/playlists/
/mpd/database
/mpd/log
/mpd/pid
/mpd/sticker.sql
