/emacs.d/elpa/
/emacs.d/eln-cache/
/emacs.d/var/
/emacs.d/etc/
/emacs.d/.cask/
/emacs.d/projectile-bookmarks.eld
/emacs.d/.python-environments/
/emacs.d/package-quickstart.el
/vim/vimrc.locals
/vim/cache/
/vim/pack/
/vim/plug-local/
/vim/sessions/
/vim/defaults.vim
/.bak
/mpd/state
/mpd/playlists/
/mpd/database
/mpd/log
/mpd/pid
/mpd/sticker.sql
/emacs.d/custom-unused.el
/emacs.d/package-quickstart.elc
